# WordLemPos Data

In [1]:
#imports
import pandas as pd
import numpy as np
from collections import Counter
import re
import csv

import gensim
from gensim.parsing.preprocessing import STOPWORDS

import warnings
warnings.filterwarnings('ignore')
# Import stopwords with nltk.
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /home/gorkem/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

By using WordLemPos data, we will try to find topics of the dataset. What we do as a first step is to check one month data for one country and see if we can find some meaningful results.
We will check October 2016, US data for this purpose. If our results seems meaningful, we will try with one year data and expand gradually from there.

In [31]:
# Read wordLemPos Data file 
data_folder='sample_data/'
fileName= '16-10-us.txt'
wordLemPos_big = pd.read_table(data_folder+fileName, quoting=csv.QUOTE_NONE, encoding = "ISO-8859-1",header=None)

In [3]:
wordLemPos = wordLemPos_big.copy()
numRows = len(wordLemPos)

In [4]:
# check the shape and content of the data
display(wordLemPos.shape)
wordLemPos.head(20)

(17564427, 5)

           0           1           2         3       4
0   14637197  4739839025  @@14637197       NaN      fo
1   14637197  4739839026         <p>       NaN     NaN
2   14637197  4739839027         NEW       new     np1
3   14637197  4739839028        YORK      york     np1
4   14637197  4739839029           (       NaN       (
5   14637197  4739839030          AP        ap     np1
6   14637197  4739839031           )       NaN       )
7   14637197  4739839032          --       NaN  jj_nn1
8   14637197  4739839033      Donald    donald     np1
9   14637197  4739839034       Trump     trump     nn1
10  14637197  4739839035          's        's      ge
11  14637197  4739839036    five-day  five-day      jj
12  14637197  4739839037        feud      feud     nn1
13  14637197  4739839038        with      with      iw
14  14637197  4739839039           a         a     at1
15  14637197  4739839040      former    former      da
16  14637197  4739839041      beauty    beauty     nn1
17  14637197  4739839042       queen     queen     nn1
18  14637197  4739839043          is        be     vbz
19  14637197  4739839044        only      only      rr

What is useful for this data is the lemma-stemmed version of the words of each position. By using them we will skip the preprocessing part of the words lemmatization and stemming. Therefore, we want textID and lemma columns from the data. Also we drop the ones that are NA in lemma since it means they are either special char or numbers and don't have a root word.

In [5]:
wordLemPos.rename(columns={0:'textID',1:'ID(seq)',2:'word',3:'lemma',4:'PoS'},inplace=True)
wordLemPos = wordLemPos[['textID','lemma']]
# Drop NA values we are not interested in null lemma's since 
# they are not words but special characters and numbers
wordLemPos.dropna(inplace=True)
wordLemPos.shape
display(wordLemPos.head(10))

      textID     lemma
2   14637197       new
3   14637197      york
5   14637197        ap
8   14637197    donald
9   14637197     trump
10  14637197        's
11  14637197  five-day
12  14637197      feud
13  14637197      with
14  14637197         a

In the WordLemPos data for each news article words are already preprocessed and lemmatized and stemmed. What we need to do first is to get rid off the stop words.

In [6]:
#wordLemPos = wordLemPos[:numRows]
#display(wordLemPos.shape)
#display(wordLemPos.head())

To remove stopwords we have several conditions the word shouldn't be nltk or gensim.parsing stopword dictionary, it shouldn't be in unnecessary words and the length of the word should be bigger than 3.

In [7]:
# Some unnecessary words found common but not useful for the topic modelling, we excluded them
unnecessary_words=['new','good','high','big','with','into','under',
                  'really','already','still','early','while','although','most','every','which',
                  'year','like','time','that','given','would']

In [8]:
# Find stop words, replace with nullin lemma
wordLemPos['lemma'] = wordLemPos.lemma.apply((lambda x: x if x not in (stop) 
                                              and len(x)>3 
                                              and x not in gensim.parsing.preprocessing.STOPWORDS
                                              and x not in unnecessary_words
                                              else None))
# Drop lemma null - which are the stopwords
wordLemPos.dropna(inplace=True)
display(wordLemPos.shape)
display(wordLemPos.head(10))

(6135938, 2)

      textID       lemma
3   14637197        york
8   14637197      donald
9   14637197       trump
11  14637197    five-day
12  14637197        feud
16  14637197      beauty
17  14637197       queen
21  14637197        late
22  14637197     example
25  14637197  insistence

After filtering the stopwords, we will make the words ready for the LDA.
For each unique textID we group the words and turn them into list.

In [9]:
# make list of words for each article
unique_textID = wordLemPos.textID.unique()
docs =[]
for text_id in unique_textID:
    doc = wordLemPos[wordLemPos.textID==text_id]['lemma'].tolist()
    docs.append(doc)

In [10]:
# check how many article we have
len(docs)

26028

Now we create bag of words. Assign a number key for each word.

In [11]:
# bag of words on the dataset
dictionary = gensim.corpora.Dictionary(docs)
count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 30-day
1 airing
2 article
3 beauty
4 brag
5 brash
6 businessman
7 campaign
8 celebrity
9 cheer
10 combat

Another good approach is to filter the words there are not very common on the article to ease the further steps and computation. If word count is very few within the given documents then it is probably not related to find the topic of the article, so we can clear them as well.

In [12]:
# filter out the tokens that are seen less than x documents
docThreshold = 15
dictionary.filter_extremes(no_below=docThreshold, no_above=0.5, keep_n=100000)

Now we create doc2bow which is for each document we count the words they have and store them.

In [13]:
# create doc2bow
# For each doc have a dictionary stating how many words and how many times each word appears
bow_corpus = [dictionary.doc2bow(doc) for doc in docs]
#bow_corpus[10]

We actually need also bow_doc results for our further analysis as well. Therefore, we will save it to use for later.

In [14]:
# Check 10th document which word appears how many time, print previous results
bow_doc_10 = bow_corpus[10]
for i in range(len(bow_doc_10)):
    print("Word {} (\"{}\") appears {} time.".format(bow_doc_10[i][0], 
                                               dictionary[bow_doc_10[i][0]],bow_doc_10[i][1]))

Word 11 ("come") appears 3 time.
Word 15 ("cost") appears 2 time.
Word 19 ("example") appears 1 time.
Word 29 ("local") appears 1 time.
Word 32 ("need") appears 1 time.
Word 37 ("people") appears 1 time.
Word 38 ("period") appears 1 time.
Word 39 ("political") appears 1 time.
Word 45 ("service") appears 3 time.
Word 56 ("unfairly") appears 1 time.
Word 68 ("basically") appears 1 time.
Word 78 ("change") appears 1 time.
Word 108 ("gain") appears 1 time.
Word 115 ("happen") appears 1 time.
Word 123 ("instead") appears 1 time.
Word 146 ("opportunity") appears 1 time.
Word 152 ("play") appears 1 time.
Word 188 ("work") appears 2 time.
Word 210 ("heart") appears 1 time.
Word 223 ("project") appears 1 time.
Word 230 ("seat") appears 1 time.
Word 231 ("seek") appears 1 time.
Word 242 ("want") appears 3 time.
Word 259 ("answer") appears 1 time.
Word 275 ("board") appears 11 time.
Word 280 ("business") appears 1 time.
Word 286 ("certain") appears 1 time.
Word 295 ("comment") appears 2 time.
Word 320 ("director") appears 1 time.
Word 334 ("exactly") appears 1 time.
Word 335 ("expect") appears 1 time.
Word 358 ("general") appears 1 time.
Word 377 ("inform") appears 1 time.
Word 385 ("large") appears 2 time.
Word 395 ("long") appears 1 time.
Word 418 ("near") appears 1 time.
Word 446 ("population") appears 1 time.
Word 454 ("problem") appears 1 time.
Word 457 ("public") appears 3 time.
Word 466 ("rate") appears 3 time.
Word 473 ("recent") appears 1 time.
Word 491 ("response") appears 1 time.
Word 510 ("shut") appears 1 time.
Word 512 ("significant") appears 1 time.
Word 526 ("standard") appears 1 time.
Word 547 ("thing") appears 1 time.
Word 548 ("think") appears 1 time.
Word 565 ("understand") appears 1 time.
Word 574 ("water") appears 3 time.
Word 590 ("boost") appears 1 time.
Word 595 ("company") appears 1 time.
Word 611 ("member") appears 4 time.
Word 674 ("issue") appears 2 time.
Word 677 ("know") appears 2 time.
Word 682 ("management") appears 1 time.
Word 700 ("safety") appears 1 time.
Word 707 ("small") appears 1 time.
Word 736 ("career") appears 1 time.
Word 745 ("contender") appears 1 time.
Word 751 ("decade") appears 1 time.
Word 770 ("including") appears 1 time.
Word 853 ("field") appears 2 time.
Word 942 ("perspective") appears 2 time.
Word 947 ("push") appears 2 time.
Word 972 ("charge") appears 3 time.
Word 988 ("retired") appears 2 time.
Word 993 ("woman") appears 1 time.
Word 994 ("11th") appears 1 time.
Word 995 ("2000s") appears 1 time.
Word 996 ("2018") appears 1 time.
Word 997 ("30-year") appears 1 time.
Word 998 ("advocate") appears 1 time.
Word 999 ("agreement") appears 2 time.
Word 1000 ("analyze") appears 1 time.
Word 1001 ("apartment") appears 1 time.
Word 1002 ("appointee") appears 1 time.
Word 1003 ("asset") appears 2 time.
Word 1004 ("avoid") appears 1 time.
Word 1005 ("blaze") appears 1 time.
Word 1006 ("boundary") appears 1 time.
Word 1007 ("budget") appears 1 time.
Word 1008 ("burden") appears 1 time.
Word 1009 ("candidate") appears 1 time.
Word 1010 ("card") appears 1 time.
Word 1011 ("choice") appears 1 time.
Word 1012 ("choose") appears 1 time.
Word 1013 ("cite") appears 1 time.
Word 1014 ("clean") appears 1 time.
Word 1015 ("comfortable") appears 2 time.
Word 1016 ("consumption") appears 1 time.
Word 1017 ("contribution") appears 1 time.
Word 1018 ("counsel") appears 1 time.
Word 1019 ("criticism") appears 1 time.
Word 1020 ("customer") appears 2 time.
Word 1021 ("decline") appears 2 time.
Word 1022 ("deserve") appears 1 time.
Word 1023 ("despite") appears 2 time.
Word 1024 ("destroy") appears 1 time.
Word 1025 ("discuss") appears 2 time.
Word 1026 ("district") appears 3 time.
Word 1027 ("elect") appears 1 time.
Word 1028 ("election") appears 1 time.
Word 1029 ("employee") appears 1 time.
Word 1030 ("equal") appears 1 time.
Word 1031 ("executive") appears 2 time.
Word 1032 ("experience") appears 4 time.
Word 1033 ("expertise") appears 2 time.
Word 1034 ("explosion") appears 2 time.
Word 1035 ("fact") appears 3 time.
Word 1036 ("fixed") appears 2 time.
Word 1037 ("forward") appears 1 time.
Word 1038 ("frankly") appears 1 time.
Word 1039 ("frost") appears 3 time.
Word 1040 ("fund") appears 2 time.
Word 1041 ("gender") appears 1 time.
Word 1042 ("helping") appears 1 time.
Word 1043 ("hide") appears 1 time.
Word 1044 ("historic") appears 1 time.
Word 1045 ("home") appears 1 time.
Word 1046 ("howard") appears 1 time.
Word 1047 ("incident") appears 2 time.
Word 1048 ("increase") appears 1 time.
Word 1049 ("increased") appears 2 time.
Word 1050 ("increasing") appears 1 time.
Word 1051 ("incumbent") appears 1 time.
Word 1052 ("infrastructure") appears 1 time.
Word 1053 ("insight") appears 1 time.
Word 1054 ("jack") appears 1 time.
Word 1055 ("january") appears 2 time.
Word 1056 ("knowledge") appears 1 time.
Word 1057 ("knowledgeable") appears 1 time.
Word 1058 ("labor") appears 1 time.
Word 1059 ("lack") appears 1 time.
Word 1060 ("lawsuit") appears 1 time.
Word 1061 ("litigation") appears 2 time.
Word 1062 ("live") appears 1 time.
Word 1063 ("market") appears 4 time.
Word 1064 ("metropolitan") appears 1 time.
Word 1065 ("mind") appears 1 time.
Word 1066 ("money") appears 1 time.
Word 1067 ("monthly") appears 1 time.
Word 1068 ("natural") appears 1 time.
Word 1069 ("newcomer") appears 1 time.
Word 1070 ("northern") appears 1 time.
Word 1071 ("offset") appears 1 time.
Word 1072 ("opposition") appears 1 time.
Word 1073 ("outsource") appears 1 time.
Word 1074 ("payment") appears 1 time.
Word 1075 ("pending") appears 1 time.
Word 1076 ("pension") appears 1 time.
Word 1077 ("plenty") appears 1 time.
Word 1078 ("policy-making") appears 1 time.
Word 1079 ("position") appears 1 time.
Word 1080 ("president") appears 1 time.
Word 1081 ("prime") appears 1 time.
Word 1082 ("provide") appears 1 time.
Word 1083 ("re-election") appears 1 time.
Word 1084 ("relative") appears 1 time.
Word 1085 ("reliance") appears 1 time.
Word 1086 ("representation") appears 1 time.
Word 1087 ("revenue") appears 2 time.
Word 1088 ("role") appears 1 time.
Word 1089 ("save") appears 1 time.
Word 1090 ("share") appears 1 time.
Word 1091 ("shortfall") appears 1 time.
Word 1092 ("sixth") appears 1 time.
Word 1093 ("software") appears 1 time.
Word 1094 ("steer") appears 1 time.
Word 1095 ("stint") appears 1 time.
Word 1096 ("street") appears 1 time.
Word 1097 ("stringent") appears 1 time.
Word 1098 ("structure") appears 2 time.
Word 1099 ("subsequent") appears 1 time.
Word 1100 ("technical") appears 1 time.
Word 1101 ("term") appears 1 time.
Word 1102 ("tout") appears 1 time.
Word 1103 ("transparency") appears 2 time.
Word 1104 ("transparent") appears 1 time.
Word 1105 ("two-year") appears 1 time.
Word 1106 ("unchanged") appears 1 time.
Word 1107 ("union") appears 1 time.
Word 1108 ("utility") appears 9 time.
Word 1109 ("vital") appears 1 time.
Word 1110 ("volume") appears 1 time.
Word 1111 ("voter") appears 1 time.
Word 1112 ("wholesale") appears 1 time.
Word 1113 ("writer") appears 1 time.
Word 1114 ("youth") appears 1 time.

In [33]:
# to file
bow_corp = pd.DataFrame(bow_corpus)#, columns=['topic_id','words'])
#topics.to_csv('results/topics'+fileName)

In [15]:
# TF IDF scores
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]
from pprint import pprint
for doc in corpus_tfidf:
    pprint(doc)
    break

[(0, 0.13875160249185722),
 (1, 0.17715031430766318),
 (2, 0.27721028525058744),
 (3, 0.12131747497512263),
 (4, 0.12347796102459174),
 (5, 0.1891044232255576),
 (6, 0.13041958050997313),
 (7, 0.062166725248688805),
 (8, 0.11560367908079414),
 (9, 0.12807161883869791),
 (10, 0.11848732068045718),
 (11, 0.025903339805993027),
 (12, 0.2098881712441338),
 (13, 0.07310700483804931),
 (14, 0.04553721662579709),
 (15, 0.0701098956552853),
 (16, 0.06377944504270776),
 (17, 0.08063285966758814),
 (18, 0.26822299077423606),
 (19, 0.07583102922564613),
 (20, 0.15614468491195388),
 (21, 0.20544178170293612),
 (22, 0.10073535252794036),
 (23, 0.12570775136353204),
 (24, 0.16872380372463114),
 (25, 0.038929328098851024),
 (26, 0.05031869614151054),
 (27, 0.17819931852133633),
 (28, 0.050998930179784505),
 (29, 0.06073026832316018),
 (30, 0.06649222693253704),
 (31, 0.05082413449427594),
 (32, 0.1494953527134458),
 (33, 0.04375062855431459),
 (34, 0.08233282954234428),
 (35, 0.05537289918246951),
 (36, 0.21395666957111653),
 (37, 0.02826045425081141),
 (38, 0.07388605736031423),
 (39, 0.07014770790032673),
 (40, 0.08706930972970299),
 (41, 0.12184261576733767),
 (42, 0.06341762854787839),
 (43, 0.06922917575957259),
 (44, 0.0710313579747438),
 (45, 0.15348518392513374),
 (46, 0.06595285712277416),
 (47, 0.10405090961109652),
 (48, 0.21796972211053503),
 (49, 0.08882224494857036),
 (50, 0.20544178170293612),
 (51, 0.09369344977955193),
 (52, 0.19613156499066747),
 (53, 0.13565816557001686),
 (54, 0.08339110012898177),
 (55, 0.06091282865912503),
 (56, 0.17112889927354658),
 (57, 0.10077179528300287),
 (58, 0.15767660791142038),
 (59, 0.1309754028548771),
 (60, 0.036749024503569656),
 (61, 0.062300930248229684)]

As the last step, we create the LDA model to find the topics. We precised 10 topics for now and do 4 passes over the data.

In [19]:
# create the lda model with gensim providing bow_corpus and dicitonary we created
lda_model = gensim.models.LdaMulticore(bow_corpus, num_topics=7, id2word=dictionary, passes=4, workers=2)

In [20]:
# Print out the find topics most common words
for idx, topic in lda_model.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

Topic: 0
Words: 0.012*"state" + 0.008*"school" + 0.008*"people" + 0.007*"student" + 0.005*"country" + 0.005*"university" + 0.005*"government" + 0.004*"president" + 0.004*"vote" + 0.004*"group"
Topic: 1
Words: 0.013*"police" + 0.011*"county" + 0.007*"city" + 0.006*"officer" + 0.006*"report" + 0.005*"state" + 0.005*"department" + 0.005*"charge" + 0.005*"home" + 0.005*"comment"
Topic: 2
Words: 0.007*"people" + 0.006*"know" + 0.006*"family" + 0.006*"life" + 0.006*"woman" + 0.006*"child" + 0.006*"tell" + 0.005*"want" + 0.005*"come" + 0.004*"think"
Topic: 3
Words: 0.016*"company" + 0.010*"share" + 0.009*"million" + 0.007*"market" + 0.007*"price" + 0.007*"stock" + 0.007*"business" + 0.007*"percent" + 0.006*"report" + 0.006*"quarter"
Topic: 4
Words: 0.032*"trump" + 0.020*"clinton" + 0.010*"election" + 0.010*"campaign" + 0.009*"republican" + 0.008*"e-mail" + 0.007*"donald" + 0.007*"presidential" + 0.007*"hillary" + 0.006*"woman"
Topic: 5
Words: 0.005*"work" + 0.004*"people" + 0.004*"world" + 0.004*"look" + 0.003*"know" + 0.003*"come" + 0.003*"study" + 0.003*"thing" + 0.003*"need" + 0.003*"company"
Topic: 6
Words: 0.024*"game" + 0.013*"play" + 0.013*"team" + 0.011*"season" + 0.007*"player" + 0.006*"week" + 0.006*"yard" + 0.006*"come" + 0.005*"second" + 0.005*"field"

In [30]:
# to file
topics = pd.DataFrame(lda_model.print_topics(-1), columns=['topic_id','words'])
topics.to_csv('results/topics'+fileName)

   topic_id                                              words
0         0  0.012*"state" + 0.008*"school" + 0.008*"people...
1         1  0.013*"police" + 0.011*"county" + 0.007*"city"...
2         2  0.007*"people" + 0.006*"know" + 0.006*"family"...
3         3  0.016*"company" + 0.010*"share" + 0.009*"milli...
4         4  0.032*"trump" + 0.020*"clinton" + 0.010*"elect...
5         5  0.005*"work" + 0.004*"people" + 0.004*"world" ...
6         6  0.024*"game" + 0.013*"play" + 0.013*"team" + 0...

As we can see from the above topics most common words, we can actually come up with good idea for news topic. For example:
- Topic 0: politics/ education
- Topic 1: crime
- Topic 2: social
- Topic 3: business / economy
- Topic 4: politics / election
- Topic 5: world / ?
- Topic 6: sports

Looks like we can find some good topics. We will proceed with this approach.